.description-container {
    background: url('https://media.istockphoto.com/id/628504820/photo/they-keep-each-other-going.jpg?s=1024x1024&w=is&k=20&c=PWqw3MxCi2lgIDw2Q8ogThpgXYekesjMCJFPIWBqkZE=');
    min-height: 100vh;
    min-width: 100vw;
}